################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/teste-capitani-api/DesignTimeBuild/
bin/
obj/
*.user
